<section id="about" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 headline" style="visibility: visible;">
				<h2>About Me</h2>
			</div>

			<div class="col-md-5 col-sm-12 hidden-xs wow bounceInLeft animated" >
				<div class="row">
					<%= image_tag "profile.jpg", class: "img-responsive" %>				
				</div>
				<div class="row">
				</div>
			</div>


			<div class="col-md-7 col-sm-12 wow bounceInRight animated">
				<h3>Profesional Profile</h3>
				<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am so happy, my dear friend.</p>
				<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
					<div class="profile-widget">
						<h3>Social Profiles</h3>
						<ul class="widget-social">
							<li><a href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
							<li><a href="#"><i class="fa fa-github-alt"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-stack-overflow"></i></a></li>
						</ul>
					</div>
			</div>

		</div><!-- .row -->
	</div><!-- .container -->
</section>