<section id="contact" class="section">

    <div class="container">

        <div class="row">

            <div class="col-md-12 headline wow bounceInLeft animated" style="visibility: visible; -webkit-animation: bounceInLeft;">
                <h2>Contact</h2>
                <p>Drop me a line. I love to hear you.</p>
            </div>

            <div class="col-md-6 wow bounceInUp animated" style="visibility: visible; -webkit-animation: bounceInUp;">

                <p>Fill the form or send an email.</p>

                <ul class="icon-list">
                    <li><i class="fa fa-fw fa-envelope-o"></i><a href="mailto:david@garciafdz.com">david@garciafdz.com</a></li>
                </ul>

            </div>

            <div class="col-md-6">

                <form id="contact-form" role="form">

                    <div class="form-group">
                        <label class="sr-only" for="c_name">Name</label>
                        <input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="c_email">Email address</label>
                        <input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Your message"></textarea>
                    </div>

                    <button type="submit" class="btn btn-custom-1">
                        <i class="fa fa-bullhorn icon-before"></i> Send it
                    </button>

                </form>

                <div class="ajax-response"></div>

            </div>

        </div><!-- .row -->

    </div><!-- .container -->

</section>