<section id="education" class="section"> 
  <div class="container">
      <div class="row">
        <div class="col-md-12 headline">
          <h2>Education</h2>
        </div>
      </div>
      <ul class="timeline">
          <li class="timeline-year">
            <div class="timeline-year-badge">2012</div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel wow slideInRight animated">
              <div class="timeline-heading">
                <h4 class="timeline-title">Red Hat System Administrator</h4>
                <p><strong>EduStance (Red Hat official partner)</strong>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> January 2012   - February 2012</small></p>
              </div>
              <div class="timeline-body">
                <p>
                  Red Hat system administrator 80 hour course, after which I obtained the <strong>certification Red Hat Certified System Administrator (RHCSA)</strong>
                </p>
                <div class="row technologies">
                  <div class="col-xs-5"><%= image_tag "rchsa.png", class:"img-responsive", alt: "Red Hat Certified System Administrator" %></div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-year">
            <div class="timeline-year-badge">2011</div>
          </li>
          <li>
            <div class="timeline-panel wow slideInLeft animated">
              <div class="timeline-heading">
                <h4 class="timeline-title">General English</h4>
                <p><strong>Liverpool School of English</strong>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> January 2011 - March 2011</small></p>
              </div>
            </div>
          </li>
          <li class="timeline-year">
            <div class="timeline-year-badge">2009</div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel wow slideInRight animated">
              <div class="timeline-heading">
                <h4 class="timeline-title">Java Programming. OO Analysis with UML</h4>
                <p><strong>Sun Microsystems</strong>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> October 2009 - November 2009</small></p>
              </div>
              <div class="timeline-body">
                <p>80 hours Java training comprised of three official courses: Java Programming (SL-275-SE6), Object-Oriented Analysis and Design Using UML (OO-226) and Developing Applications With the Java SE 6 Platform (SL-285-SE6)</p>
              </div>
            </div>
          </li>
          <li class="timeline-year">
            <div class="timeline-year-badge">2005</div>
          </li>
          <li>
            <div class="timeline-badge"><i class="fa fa-graduation-cap"></i></div>
            <div class="timeline-panel wow slideInLeft animated">
              <div class="timeline-heading">
                <h4 class="timeline-title">BS in Computer Science</h4>
                <p><strong>A Coruña University</strong>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> 2005 - 2010</small></p>
              </div>
              </div>
            </div>
          </li>
      </ul>
  </div>
</section>