<section id="projects" class="callout">
	<div class="container">
		<div class="row">
			<div class="col-md-12" >
				<h2>Projects</h2>
			</div>
		</div>

		<div class="row project-list">
			<ul class="project-grid project-effect-shrink">
				<li class="col-md-6">
					<figure>
						<%= image_tag "faceboda.png", class: "img-responsive", alt: "Faceboda.net", title: "faceboda.net" %>
						<figcaption>
							<div class="project-item-info">
								<h3 class="sub-heading">Faceboda</h3>
								<p>
									Private social network for weddings, where any guest can upload pictures, post messages, choose dancing partner, suggest songs, and much more.
								</p>
								<a href="#" class="btn btn-default">Visit Webpage</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li class="col-md-6">
					<figure>
						<%= image_tag "droplayer.png", class: "img-responsive", alt: "Droplayer", title: "droplayer.es" %>
						<figcaption>
							<div class="project-item-info">
								<h3 class="sub-heading">Droplayer</h3>
								<p>
									Web audio player for Dropbox. Link your Dropbox account with Droplayer and stream your music to any device. Droplayer gets the music data, so you can browse your library by song title, artist or album.
								</p>
								<a href="#" class="btn btn-default">Visit Webpage</a>
							</div>
						</figcaption>
					</figure>
				</li>
			</ul>
		</div>
	</div>
</section>