<section id="coverletter" class="section">
	<div class="container">
		<div class="row">
			<!-- <div class="col-md-12 headline" style="visibility: visible;">
				<h2>Carta de presentación</h2>
			</div> -->

			<div class="col-md-12 col-sm-12 wow bounceInRight animated">
				<p>Hola!</p>
				<p>
					Me llamo David García y soy desarrollador de software. Me pongo en contacto con vosotros tras haber visto en vuestra web que necesitáis un <a href="http://redradix.com/jobs/ruby-developer">desarrollador de Ruby on Rails</a> con un perfil en el que considero que encajo. En mi carrera profesional las tecnologías más utilizadas han sido JavaScript y Python. La primera, en desarrollo web y aplicaciones móviles con Phonegap. La segunda, en proyectos web, interpretación de documentos XML y de extracción de datos. Mi primer contacto con Ruby on Rails fue en el proyecto de fin de carrera, y también fue el framework escogido para el trabajo realizado durante las prácticas del programa Leonardo Da Vinci en Irlanda. Desde entonces, siempre ha sido mi primera elección en proyectos propios, como <a href="http://streamr.es">Streamr</a> o <a href="http://faceboda.net">Faceboda</a>, donde también he usado otras tecnologías como Backbone.js o Sidekiq.
								
				</p>
				<h3>¿Por qué Redradix?</h3>
				<p>
					Al leer un poco sobre Redradix y conocer cómo es vuestra filosofía de trabajo, no tuve ninguna duda de que quería formar parte de vuestro equipo. Una de mis mayores motivaciones es la de crecer como profesional, algo que promovéis dentro de la propia empresa con acciones formativas. Es muy importante para mi el hacer las cosas correctamente y eso va en el ADN de Redradix, a juzgar por las metodologías que usáis en vuestros proyectos. A ésto hay que añadirle que las tecnologías con las que desarrolláis son las que despiertan mayor interés en mi, lo que hace que verse involucrado en alguno de vuestros proyectos sea visto como un desafío más que un trabajo.
				</p>
				<h3>¿Por qué yo?</h3>
				<p>
					Estoy capacitado para empezar a aportar en Redradix desde el primer día, ya que conozco y he usado, bien sea en mi carrera profesional o personalmente, la mayoría de las tecnologías con las que trabajáis. Soy una persona a la que le gusta resolver y no crear nuevos problemas, siempre dispuesto a echar una mano a mis compañeros y receptivo a los consejos que ellos me ofrecen. Una de mis pasiones es viajar y conocer nuevas culturas, por lo que me integraría perfectamente en un entorno de trabajo internacional como es el vuestro. ¡Ah! Aunque soy más aficionado al PRO Evolution Soccer, aprendo rápido y en poco tiempo estaría listo para ser campeón del torneo de FIFA.
				</p>
				<p>
					Actualmente resido en A Coruña, pero no tengo absolutamente ningún problema para desplazarme a Madrid o Barcelona (donde tengo entendido que habéis abierto una <a href="http://blog.redradix.com/our-plans-for-2015/">nueva oficina</a>). Si necesitáis ampliar la información, o tenéis cualquier otra consulta, no dudéis en contactarme, bien por correo electrónico (<a href="mailto:david@garciafdz.com">david@garciafdz.com</a>) o por teléfono en el (+34) 609 42 92 12.
				</p>
				<br>
				<p>
					Muchas gracias por vuestra atención,
				</p>
				<p>
					David García
				</p>
			</div>

		</div><!-- .row -->
	</div><!-- .container -->
</section>