<section id="coverletter" class="section">
	<div class="container">
		<div class="row">
			<!-- <div class="col-md-12 headline" style="visibility: visible;">
				<h2>Cover letter</h2>
			</div> -->

			<div class="col-md-12 col-sm-12 wow bounceInRight animated">
				<p>Hi!</p>
				<p>

				My name is David García and I am a software developer. I am contacting you after seeing on your site that you need one <a href="http://redradix.com/jobs/ruby-developer">Ruby on Rails developer</a> with a profile in which I think fit. In my career the most used technologies are JavaScript and Python. The former, in web development and mobile applications with Phonegap. The latter, in web projects, XML documents interpretation and data scrapping. My first contact with Ruby on Rails was in my degree final project, and was the framework chosen for the work done during the Leonardo Da Vinci program internship in Ireland. Since then, it has always been my first choice in personal projects, like <a href="http://streamr.es">Streamr</a> or <a href="http://faceboda.net">Faceboda</a>, where I also use other technologies such as Backbone.js or Sidekiq.								
				</p>
				<h3>Why Redradix?</h3>
				<p>
				After reading a bit about Redradix and your philosophy, I had no doubt that I wanted to be part of your team. One of my biggest motivations is to grow professionally, something that you promote within the company through courses. It is very important for me to do things correctly and that is something Redradix is very concerned about, judging by the methodologies that you use in your projects. Moreover, the technologies you develop with are some of the most interesting to me, what makes being involved in any of your projects to be seen as a challenge rather than a job.
				</p>
				<h3>Why me?</h3>
				<p>
					I am able to contribute in Redradix from the first day, as I know and have used, either in my professional career or in personal projects, most of the technologies you work with. I am a person that likes to solve and not to create new problems, always willing to help my colleagues and receptive to the advice they offer me. One of my passions is travelling and discovering new cultures, so I would integrate smoothly in an international working environment like yours. And although I play PRO Evolution Soccer, but I am a fast learner and would be ready to be a FIFA champion soon.
				</p>
				<p>
					I am currently living in A Coruña, but I wouldn't have any problem to move to Madrid or Barcelona (where apparently you opened a <a href="http://blog.redradix.com/our-plans-for-2015/">new office</a>). If you need further details or you have any other question, feel free to contact me by email (<a href="mailto:david@garciafdz.com">david@garciafdz.com</a>) or phone (+34 609 42 92 12).
				</p>
				<br>
				<p>
					Thank you very much for your time,
				</p>
				<p>
					David García
				</p>
			</div>

		</div><!-- .row -->
	</div><!-- .container -->
</section>